<p id="notice"><%= notice %></p>

<table border = '1'>
  <tr>
    <td roswspan="2">
      <%= link_to image_tag(@meetup_member.image_url, :border => 0, :width => "128"), 
        "http://www.meetup.com/members/#{@meetup_member.meetup_id}" %>
      <b>Name:</b>
      <%= @meetup_member.name %>
      <br/>
      Title:
    </td>
  </tr>
  <tr>
  </tr>
  <tr>
    <td>
      <%= link_to image_tag('meetup-icon.png', :width => "32"), 
        "http://www.meetup.com/members/#{@meetup_member.meetup_id}" %>
      <%= link_to image_tag('linkedin-icon.png', :width => "32"),  @meetup_member.linkedin_url %> 
      <%= link_to image_tag('Twitter_512x512.png', :width => "32"), 
        "http://twitter.com/#{@meetup_member.twitter}" %> 
    </td>
  </tr>
  <tr colspan="2"> <td>
    <b>Meetup Topics in Common </b>
     [<%= current_user.topics_in_common(@meetup_member).count %>]
  </td> </tr>
  <tr colspan="2"> <td>
    <%= print_meetup_topics(get_rand_meetup_topics(current_user.topics_in_common(@meetup_member), 10)) %> 
  </td></tr>

  <% if @meetup_member.twitter %>
    <tr colspan="2"> <td>
     <b> Following in Common </b>
     [<%= current_user.twitter_member.twitter_following_in_common(@meetup_member.twitter_member).count  %>]
    </td></tr>
    <tr colspan="2"> <td>
      <%= print_twitter_followers(get_rand_followers(
            current_user.twitter_member.twitter_following_in_common(@meetup_member.twitter_member), 10)) %> 
    </td></tr>
  <% else %>
  <% end %>
</table>



<%= link_to 'Edit', edit_meetup_member_path(@meetup_member) %> |
<%= link_to 'Back', meetup_members_path %>


<br />
<br />
