<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td roswspan="2">
      <%= link_to image_tag(@meetup_member.image_url, :border => 0, :width => "128"), 
        "http://www.meetup.com/members/#{@meetup_member.meetup_id}" %>
    </td>
    <td>
      <b>Name:</b>
      <%= @meetup_member.name %>
    </td>
  </tr>
  <tr>
    <td>Title:</td>
  </tr>
  <tr>
    <td>
      <%= link_to image_tag('meetup-icon.png', :width => "32"), 
        "http://www.meetup.com/members/#{@meetup_member.meetup_id}" %>
      <%= link_to image_tag('linkedin-icon.png', :width => "32"),  @meetup_member.linkedin_url %> 
      <%= link_to image_tag('Twitter_512x512.png', :width => "32"), 
        "http://twitter.com/#{@meetup_member.twitter}" %> 
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_meetup_member_path(@meetup_member) %> |
<%= link_to 'Back', meetup_members_path %>
