<h1>Listing meetup_events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetup_events.each do |meetup_event| %>
  <tr>
    <td><%= link_to 'Show', meetup_event %></td>
    <td><%= link_to 'Edit', edit_meetup_event_path(meetup_event) %></td>
    <td><%= link_to 'Destroy', meetup_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Title</th>
    <th>Attendees</th>
    <th>Date</th>
    <th>Meetup Page</th>
  </tr>

<% require 'iconv' %>
<% @results.each do |result| %>
  <tr>
  <%
      ic = Iconv.new('UTF-8//IGNORE', 'UTF-8')
      clean_name = ic.iconv(result.name + ' ')[0..-2]
  %>
    <td><%= link_to clean_name, "#{meetup_events_path}/#{result.id}" %></td>
    <td><%= result.rsvpcount%></td>
    <td><%= result.time.strftime("%a %b %d") %></td>
    <td><%= link_to "Link", result.event_url %></td>
  </tr>
<% end %>
</table>

<%= @results %>
<br />

<%= link_to 'New Meetup event', new_meetup_event_path %>
