<p id="notice"><%= notice %></p>


<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @meetup_rsvps.each do |meetup_rsvp| %>
  <tr>
    <td><%= image_tag(meetup_rsvp.photo_url, :border => 0, :width => "32") %></td>
    <td><%= link_to meetup_rsvp.name, meetup_rsvp.link %></td>
  </tr>
<% end %>
</table>

<%= @meetup_rsvps %>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @rsvpd_members.each do |meetup_member| %>
  <tr>
    <td><%= image_tag(meetup_member.image_url, :border => 0, :width => "32") %></td>
    <td><%= link_to meetup_member.name, "http://www.meetup.com/members/#{meetup_member.meetup_id}" %></td>
  </tr>
<% end %>
</table>

<%=@rsvpd_members %>
