<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>Name: </td>
    <td><%= link_to @event_details.name, @event_details.event_url %> </td>
  </tr>
  <tr>
    <td>Date: </td>
    <td><%= @event_details.time.strftime("%a %b %d") %></td>
  </tr>
  <tr>
    <td>Group: </td>
    <td><%= @event_details.group_name %>
  </tr>
  <tr>
    <td>Venue: </td>
    <td><%= @event_details.venue_name %></td>
    <td><%= @event_details.venue_address1 %> </td>
  </tr>
    

</table>


<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Twitter (Following, Followed)</th>
    <th>LinkedIn</th>
    <th>Topics in Common</th>
    <th>Affinity Score</th>
  </tr>

<% @sorted_members.each do |meetup_member| %>
  <tr>
    <td><%= image_tag(meetup_member.image_url, :border => 0, :width => "32") %></td>
    <td><%= link_to meetup_member.name, "http://www.meetup.com/members/#{meetup_member.meetup_id}" %></td>
    <% if meetup_member.twitter%>
      <td>
        <%= link_to meetup_member.twitter, "http://twitter.com/#{meetup_member.twitter}" %> 
        <%= TwitterMember.find_by_screenname(meetup_member.twitter[1..-1]).followers.count %>
      </td>
    <% else %>
      <td></td>
    <% end %>
    <% if meetup_member.linkedin_url %>
      <td><%= link_to "LinkedIn", meetup_member.linkedin_url %> </td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= current_user.topics_in_common(meetup_member).count %></td>
    <td><%= current_user.get_affinity(meetup_member.meetup_id).affinity_score %>  </td>
  </tr>
<% end %>
</table>

